.task
{
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.task .task-description,
.task .task-date,
.task .task-tags
{
  display: inline-block;
}

.task .task-description
{
  margin-right: 10px;
}



.task .task-date.overdue
{
  color: #ffff;
  background-color: #ca0000;;
}

.task .task-date.upcoming
{
  color: #000;
  background-color: #ffd350;
}