.task .task-date
{
  display: inline-block;
  border-radius: 100px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 0.75rem;
}

.react-datepicker__input-container input
{
  color: #000;
  background-color: #ddd;

  border-radius: 100px;
  border: 1px solid #d5d5d5;
  
  width: 80px;
  padding: 5px 5px 5px 5px;

  text-align: center;

  -moz-appearance:none;
  -webkit-appearance: none;
}

.react-datepicker__input-container input:hover
{
  color: #232323;
  background-color: #c2c2c2;
}


.react-datepicker__input-container input:focus
{
  -moz-appearance:none;
  -webkit-appearance: none;
}

