.task-manager-wrapper
{
  margin-bottom: 3rem;
}

.task-search
{
  border-bottom: 1px solid #efefef;
  padding-bottom: 1rem;
}

.task-search input.search
{
  border-radius: 5px;
  border: 1px solid #8e8e8e;
  padding: 5px;
}