.task-operations
{
  display: inline-block;
  
  flex-grow: 0;
  flex-shrink: 0;

  margin-top: auto;
  margin-bottom: auto;

}

.task-operations .toggle-calendar-button,
.task-operations .add-task-tags-button,
.task-operations .remove-task-tags-button,
.task-operations .remove-task-button
{
  display: inline-block;
}

.task-operations .toggle-calendar-button
{
  background-image: url(./clock.png);
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 5px;

}

.task-operations .add-task-tags-button
{
  background-image: url(./plus-circle.png);
  background-size: 20px;
  width: 20px;
  height: 20px; 
  margin-right: 5px;
}

.task-operations .remove-task-tags-button
{
  background-image: url(./minus-circle.png);
  background-size: 20px;
  width: 20px;
  height: 20px; 

  margin-right: 20px;
}

.task-operations .remove-task-button
{
  background-image: url(./trash.png);
  background-size: 20px;
  width: 20px;
  height: 20px; 
}

.floating-menu-wrapper
{
  position: relative;
}

.floating-menu
{
  padding-top: 0px;
  border-radius: 5px;
  border: 1px solid #aeaeae;
  background-color: #fff;
 
  position: absolute;

  width: auto;
  height: auto;

  max-height: 200px;

  overflow-y: scroll;
  padding: 5px;
}

.floating-menu .add-tag-button,
.floating-menu .remove-tag-button
{
  border-radius: 125px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;

  font-size: 0.75rem;
}

@media (max-width: 575.98px) {

  .task-operations .toggle-calendar-button,
  .task-operations .add-task-tags-button,
  .task-operations .remove-task-tags-button,
  .task-operations .remove-task-button
  {
    display: block;
    margin-bottom: 0.5rem;
  }

}