.task-operations
{
  display: inline-block;
  margin-top: 10px;
}


.floating-menu
{
  border: 1px solid #232323;
  background-color: #fff;
 
  position: absolute;
  width: auto;
  height: auto;

  padding: 5px;
}