.task-search-sort
{
  display: flex;
  flex-flow: row nowrap;

  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  margin-bottom: 20px;
}

.task-search-sort input.search
{
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
}

.task-search-sort select.all-sort,
.task-search-sort select.show-only
{
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 10px;
}

.task-search-sort button.new-task-button
{
  border-radius: 5px; 
  border: 1px solid #cacaca;
  margin-left: auto;
}