.task-tags
{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;

  text-align: right;
}

.task-tags,
.task-tags .tag
{
  display: inline-block;
  font-size: 0.75rem;
}

.task-tags .tag
{
  border-radius: 125px;

  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  margin-right: 10px;  
  margin-top: 5px;
  margin-bottom: 5px;
}

