.header
{
  background-color: #fff;

  box-sizing: border-box;

  flex-shrink: 1;
  flex-grow: 0;

  width: 100%;
  height: 60px;

  width: 100%;
  max-width: 800px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 3rem;

}

.header .brand
{
  color: #8e8e8e;
  font-size: 2rem;

  margin-top: 10px;
  margin-left: 10px;
}